{{#section 'css'}}
     <style type="text/css" media="screen">
      	.kt_content_item {
		    border-bottom: 1px dotted #cecece;
		    display: inline-block;
		    text-align: left;
		    width: 100%;
		    padding: 20px 0;
		}
		.img_kt._month8 {
		    background: rgba(0, 0, 0, 0) url(../image/banner/img_kt_thang_8.png) no-repeat scroll left center;
		}
		.kt_content_item ._right {
		    display: inline-block;
		    margin-top: 25px;
		    vertical-align: top;
		    width: 530px;
		}
		a {
		    text-decoration: none;
		    color: #474747;
		    padding: 0;
		    margin: 0;
		}
     </style>
{{/section}}
	<!-- services -->
<div class="services">
	<h2>Danh sách đề luyện thi</h2>
	
	<div class="services-grids1">
		{{#each dethis}}
			 <div class="kt_content_item">
	            <img width="100px" height="100px" src="../../images/10.jpg">
	            <div class="_right">
	                <a href="/dethi/chitiet?id={{MaDeThi}}">
	                    <div>
	                        <h4 class="_title">
	                            {{TenDeThi}}
	                        </h4>
	                    </div>
	                </a>
	                <div style="color:#888888;font-size: 14px;">(Bài kiểm tra tổng hợp kiến thức của năm học trước)</div>
	            </div>
	        </div>
        {{/each}}

		
		<div class="clearfix"> </div>
	</div>
	
</div>
<nav style="text-align:center">
	<ul class="pagination">
		<li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
		{{#each page}}
		<li><a href="/dethi/?page={{this}}" id="page-{{this}}">{{this}}</a></li>
		{{/each}}
		<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
	</ul>
</nav>
	<!-- //services -->

<script>
	let token = window.location.href.split("/");
	let page = token[token.length - 1];
	if(parseInt(page)){
		$("#page-" + page).css("color", "red");
	}
	function previous(){
		window.location.replace("/dethi/?page=" + (parseInt(page) - 1));
	}
	function next(){
		window.location.replace("/dethi/?page=" + (parseInt(page) + 1));
	}
</script>


