{{#section 'title'}}
<b>Đề thi</b>
{{/section}}

<div class="container" style="width: 97%">
    <div>
        <a class="btn btn-success" href="nguoidung/add" role="button">
            <span class="glyphicon glyphicon-plus"></span>
            Add
        </a>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>SDT</th>
                        <th>Giới tính</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each vm.nguoidungs}}
                    <tr>
                        <td>{{MaNguoiDung}}</td>
                        <td>{{TenNguoiDung}}</td>
                        <td>{{Email}}</td>
                        <td>{{SDT}}</td>
                        <td>{{GioiTinh}}</td>
                        <td class="text-right">
                            <a class="btn btn-default btn-xs" href="/admin/nguoidung/delete?id={{MaNguoiDung}}" role="button"
                                onclick="return confirm('Bạn có muốn xóa hay không')">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a class="btn btn-default btn-xs" href="/admin/nguoidung/update?id={{MaNguoiDung}}" role="button">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>


</div>