{{#section 'title'}}
    <b>Đề thi</b>
{{/section}}

<div class="container" style="width: 97%">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Mã đề thi</th>
						<th>Tên đề thi</th>
						<th>Thời gian</th>
						<th>Số câu</th>
						<th>Số điểm 1 câu</th>
						<th>Ngày Tạo</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{{#each vm.dethis}}
					<tr>
						<td>{{MaDeThi}}</td>
						<td>{{TenDeThi}}</td>
						<td>{{ThoiGian}}</td>
						<td>{{SoCau}}</td>
						<td>{{SoDiemMotCau}}</td>
						<td>{{NgayTao}}</td>
						<td class="text-right">
							<a class="btn btn-default btn-xs" href="/admin/dethi/delete?id={{MaDeThi}}" role="button" onclick="return confirm('Bạn có muốn xóa hay không')">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
							<a class="btn btn-default btn-xs" href="/admin/dethi/update?id={{MaDeThi}}" role="button">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	
	<div >
		<a class="btn btn-success" href="dethi/add" role="button">
			<span class="glyphicon glyphicon-plus"></span>
			Add
		</a>
	</div>
</div>