{{#section 'title'}}
<b>Update đề thi</b>
{{/section}} 

{{#if showResult}}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>OK!</strong> Đề thi updated
</div>
{{/if}}

{{#with vm.dethi}}
<div class="container-fluid">
	<form method="post" role="form" action="update" >
		<div class="form-group">
			<label for="">Mã đề thi</label>
			<input type="text" class="form-control" name="MaDeThi" value="{{MaDeThi}}" readonly="readonly">
		</div>
		<div class="form-group">
			<label for="">Tên đề thi</label>
			<input type="text" class="form-control" name="TenDeThi" value="{{TenDeThi}}">
		</div>
		<div class="form-group">
			<label for="">Thời gian</label>
			<input type="text" class="form-control" name="ThoiGian" value="{{ThoiGian}}">
		</div>
		<div class="form-group">
			<label for="">Số câu</label>
			<input type="text" class="form-control" name="SoCau" value="{{SoCau}}">
		</div>
		<div class="form-group">
			<label for="">Số điểm 1 câu</label>
			<input type="text" class="form-control" name="SoDiemMotCau" value="{{SoDiemMotCau}}">
		</div>

		<a class="btn btn-default" href="/admin/dethi" role="button">
			<span class="glyphicon glyphicon-arrow-left"></span>
			Trở về
		</a>
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-ok"></span>
			Update
		</button>
		<br>
		<br>
		<br>
		<br>
	</form>
</div>
{{/with}}